body {
    background-image: url('bg_student21.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
}
.container{
    width: 1000%;
    max-width: 1200px;
    margin: 0 auto;
}


.header{
    position:absolute;
    
    padding-top: 0px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.intro_title {
    font-size: 60px;
    font-weight: 700; 
    text-transform: uppercase;
    color: white;
    position: relative;
    padding-top: 20%;
    text-align: center;
 }

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 15px;

}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 254, 254);
    font: optional;
}

.nav {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link {
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    opacity: 0.75;

    transition: color 0.2s linear;
}
.nav_link:first-child {
    margin-left: 0;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: color 0.1s linear;
}

.nav_link:hover {
    color: rgb(255, 255, 255);
    transition: color 0.2s;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.nav_link:hover:after {
    display: block;
    color:rgb(255, 255, 255);
    transition: color 0.2s linear;
}

.events {
    position: absolute;
    padding-top: 50px;
    width: 1430px;
    padding-left: 50px;
}

.case {
    position: absolute;
    padding-top: 650px;
    max-width: 20000px;
}
.cont_ab {
    position: absolute;
    padding-top: 600px;
}

.aboutt {
    position: absolute;
    padding-top: 450px;
    width: 1500px;
    height: 250px;
}

.bloquote {
    max-width: 17000px;
    margin: 0px 30px;
    padding: 25px;
    background: #f8fffe;
    border: 1px solid #b0d2cb;
    color: #0b4237;
    box-sizing: border-box;
    text-transform: uppercase;
}

.sport {
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    opacity: 0.75;

    transition: color 0.2s linear;
}

.contactss {
    max-width: 17000px;
    color: #ffffff;
    text-transform: uppercase;
    background: black;
    margin: -22px -30px;
    margin-left: -58px;
    
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contactss ul li {
    list-style-type: none;
}
.contactss ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    opacity: 0.75;
}
.contactss ul li a:hover {
    color: white;
    padding-left: 7px;
    opacity: 100;
}

/*<h1>Adelshiyev Syrym - 211153@astanait.edu.kz</h1>
                    <h1>Aysultan Zhaksytaev - 211695@astanait.edu.kz</h1>
                    <h1>Erasyl Serikov - 211525@astanait.edu.kz</h1>
                    <h1>Sultan Serik - 211666@astanait.edu.kz</h1>*/